/* OVERORDNEDE REGLER */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* NAVIGATION MOBIL */

.topmenu,
.navbar1,
.navlogo1 {
  display: none;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: black;
  height: 40px;
  overflow: hidden;
}

.fa-navicon {
  position: relative;
  padding-right: 10px;
  z-index: 13;
  margin-left: 4vw;
  margin-top: 6px;
  color: white;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav a {
  text-decoration: none;
  padding: 20px 8px 5px 32px;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.navlogo {
  margin-left: 10px;
  cursor: pointer;
  z-index: 15;
  position: absolute;
}

svg {
  margin-top: -3px;
}

.fas {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}
a {
  cursor: pointer;
}

* video SPLASH SEKTION */ video {
  width: 100%;
  margin-top: 40px;
}

/*** text på splash video ***/

.text1,
.text2,
.text3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
  background-image: url(white.png);
  background-size: 40px;
  -webkit-background-clip: text;
  background-repeat: repeat-y;
  transition: background-size 4s;
  color: #a6cc45;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: 500;
  text-align: center;
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-top: -7px;
}

.fill {
  background-size: 100vw;
}

.text_container {
  position: absolute;
  width: 90%;
  align-items: center;
  top: 43vw;
  left: 5%;
}

.text_container > p {
  color: #a6cc45;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* VIDEO SPLASH SEKTION */

video {
  width: 100%;
  margin-top: 40px;
}

/*** første sektion med købknap*/
#buy {
  padding-top: 10vw;
  width: 90%;
  margin: 0 auto;
}
.voltikoner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  grid-gap: 20px;
}

.voltikon1 {
  width: 34px;
  height: 45px;
  margin-bottom: -10px;
}

.voltikon2 {
  width: 52px;
  height: 45px;
  margin-bottom: -10px;
}

.voltikon3 {
  width: 45px;
  height: 45px;
  margin-bottom: -10px;
}

.voltikon4 {
  width: 33px;
  height: 45px;
  margin-bottom: -10px;
}

.chargerimg {
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

.bookn {
  width: 100%;
  height: 50px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  background-color: #a6cc45;
  cursor: pointer;
}

.imgknap > p {
  text-align: center;
  margin-top: 2px;
  font-size: 0.8em;
}

/* WHAT AM I PAYING FOR SEKTION */

.baggrundsfarve {
  background-color: rgb(246, 246, 246);
}

#paying_for > img {
  width: 100%;
  height: 100%;
}

#paying_for {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10vw;
  padding-top: 10vw;
}

.swap > img {
  width: 53px;
  height: 45px;
}

.swap h3 {
  margin-block-start: 0px;
  margin-block-end: 8px;
}

.swap p {
  margin-block-start: 0px;
}

.deposit h3 {
  margin-block-start: 0px;
  margin-block-end: 8px;
}

.deposit p {
  margin-block-start: 0px;
}

.deposit h3 {
  margin-block-start: 0px;
}

.deposit > img {
  width: 53px;
  height: 26px;
}

#services_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42.5% 42.5%;
  grid-gap: 10px;
}

.swap_container {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.swap_container > p {
  font-weight: 700;
}
.deposit_container {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.deposit_container > p {
  font-weight: 700;
}
.paying_tekst > p {
  margin-bottom: 5vw;
}

/* PROCESS SEKTIONEN */
#process > h1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 10vw;
}

#process > p {
  width: 90%;
  margin: 0 auto;
}
.ikoner {
  display: grid;
  width: 60%;
  margin: 0 auto;
  margin-top: 4vw;
  margin-bottom: 10vw;
}
.ikon {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border: 2px solid black;
}

/* GRØN ENERGI SEKTION */

#energi_container {
  background-color: #a6cc45;
  color: white;
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  width: 90%;
  margin: 0 auto;
}

.energi_ikon {
  transform: scale(0.8);
}

#energi {
  background-color: #a6cc45;
}

.e_lang_tekst {
  width: 100%;
  margin: 0 auto;
}
