/* OVERORDNEDE REGLER */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* NAVIGATION MOBIL */

.topmenu,
.navbar1,
.navlogo1 {
  display: none;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: black;
  height: 40px;
  overflow: hidden;
}

.fa-navicon {
  position: relative;
  padding-right: 10px;
  z-index: 13;
  margin-left: 4vw;
  margin-top: 6px;
  color: white;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav a {
  text-decoration: none;
  padding: 20px 8px 5px 32px;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.navlogo {
  margin-left: 10px;
  cursor: pointer;
  z-index: 15;
  position: absolute;
}

svg {
  margin-top: -3px;
}

.fas {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}
a {
  cursor: pointer;
}

/* SPLASH SEKTION */
video {
  width: 100%;
  margin-top: 40px;
}

/*** text på splash video ***/

.text1,
.text2,
.text3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
  background-image: url(white.png);
  background-size: 40px;
  -webkit-background-clip: text;
  background-repeat: repeat-y;
  transition: background-size 4s;
  color: #a6cc45;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: 500;
  text-align: center;
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-top: -7px;
}

.fill {
  background-size: 100vw;
}

.text_container {
  position: absolute;
  width: 90%;
  align-items: center;
  top: 43vw;
  left: 5%;
}

.text_container > p {
  color: #a6cc45;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* VIDEO SPLASH SEKTION */

video {
  width: 100%;
  margin-top: 40px;
}

/*** første sektion med købknap*/
#buy {
  padding-top: 10vw;
  width: 90%;
  margin: 0 auto;
}
.voltikoner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  grid-gap: 20px;
}

.voltikon1 {
  width: 34px;
  height: 45px;
  margin-bottom: -10px;
}

.voltikon2 {
  width: 52px;
  height: 45px;
  margin-bottom: -10px;
}

.voltikon3 {
  width: 45px;
  height: 45px;
  margin-bottom: -10px;
}

.voltikon4 {
  width: 33px;
  height: 45px;
  margin-bottom: -10px;
}

.chargerimg {
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

.bookn {
  width: 100%;
  height: 50px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  background-color: #a6cc45;
  cursor: pointer;
}

.bookn a {
  color: white;
  text-decoration: none;
}

.imgknap > p {
  text-align: center;
  margin-top: 2px;
  font-size: 0.8em;
}

/* WHAT AM I PAYING FOR SEKTION */

.baggrundsfarve {
  background-color: rgb(246, 246, 246);
}

#paying_for > img {
  width: 100%;
  height: 100%;
}

#paying_for {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10vw;
  padding-top: 10vw;
}

.swap > img {
  width: 53px;
  height: 45px;
}

.swap h3 {
  margin-block-start: 0px;
  margin-block-end: 8px;
}

.swap p {
  margin-block-start: 0px;
}

.deposit h3 {
  margin-block-start: 0px;
  margin-block-end: 8px;
}

.deposit p {
  margin-block-start: 0px;
}

.deposit h3 {
  margin-block-start: 0px;
}

.deposit > img {
  width: 53px;
  height: 26px;
}

#services_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42.5% 42.5%;
  grid-gap: 10px;
}

.swap_container {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.swap_container > p {
  font-weight: 700;
}
.deposit_container {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.deposit_container > p {
  font-weight: 700;
}
.paying_tekst > p {
  margin-bottom: 5vw;
}

/* PROCESS SEKTIONEN */
#process > h1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 10vw;
}

#process > p {
  width: 90%;
  margin: 0 auto;
}
.ikoner {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 30px;
  margin-top: 4vw;
  margin-bottom: 10vw;
}

.delivery {
  display: grid;
  grid-template-columns: 35% 1fr 35%;
}

.return {
  display: grid;
  grid-template-columns: 40% 1fr 40%;
}
.svg1,
.ikon2,
.ikon4,
.ikon5,
.ikon6,
.svg7 {
  width: 100%;
  height: 130px;
}

.ikon1 > p {
  text-align: center;
  margin-block-start: 0em;
  font-weight: 500;
  font-size: 1em;
}

.ikon7 > p {
  text-align: center;
  margin-block-start: 0em;
  font-weight: 500;
  font-size: 1em;
}

.delivery > p {
  grid-column: 1/5;
  text-align: center;
  margin-block-start: 1em;
  font-weight: 500;
  font-size: 1em;
}

.return > p {
  grid-column: 1/5;
  text-align: center;
  margin-block-start: 1em;
  font-weight: 500;
  font-size: 1em;
}

.svg1 {
  background-image: url(Websitepay1.svg);
  background-size: 100% 100%;
}

.ikon2 {
  background-image: url(package_hand_volt.svg);
  background-size: 100% 100%;
}

.ikon3 {
  width: 100%;
  height: 20px;
  text-align: center;
  margin-top: 40px;

  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
}

.ikon4 {
  background-image: url(volt_stand.svg);
  background-size: 100% 100%;
}

.ikon5 {
  background-image: url(Refund1.svg);
  background-size: 100% 100%;
}

.ikon6 {
  background-image: url(keep_volt_pocket1.svg);
  background-size: 100% 100%;
}

.svg7 {
  background-image: url(Volt_Charger2.svg);
  background-size: 100% 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  transform: scale(1.2);
}

/* GRØN ENERGI SEKTION */

#energi_container {
  background-color: #a6cc45;
  color: white;
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  width: 90%;
  margin: 0 auto;
}

.energi_ikon {
  transform: scale(0.8);
}

#energi {
  background-color: #a6cc45;
}

.e_lang_tekst {
  width: 100%;
  margin: 0 auto;
}

/* MAP SEKTION */

.map_img img {
  width: 100%;
}

#map {
  width: 90%;
  margin: 0 auto;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

/* GET VOLT OFFER SEKTION */

#getvolt_baggrund {
  width: 100%;
  background-color: #a6cc45;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.getvolt {
  width: 90%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.getvolt > h1 {
  margin-block-end: 0em;
  font-size: 1.5em;
}

.getvolt > p {
  margin-block-start: 0em;
}

.getvolt_knap {
  width: 40%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.getvolt_knap a {
  color: white;
  text-decoration: none;
}

.getvolt_knap:hover {
  background-color: white;
}

.getvolt_knap > a:hover {
  color: #a6cc45;
}

/**** SOCIAL MEDIA ***/
.connect_baggrund {
  background-color: #343436;
}
#connect {
  width: 90%;
  margin: 0 auto;
  height: 60px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 35% 1fr;
}

.socialmedia {
  margin-top: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  cursor: pointer;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/**** FOOTER **/

footer {
  background-color: #222222;
  color: white;
  font-family: "Open Sans", sans-serif;
}

#footer {
  width: 90%;
  margin: 0 auto;
  padding-top: 5vw;
  padding-bottom: 10vw;
}

#footer h2 {
  margin-block-end: 0em;
}

.link a {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  list-style: none;
}

.venste_elementer li {
  list-style: none;
}

.venste_elementer ul {
  padding-inline-start: 0px;
  margin-block-start: 0.5em;
}

.right_elementer > p {
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}

.information > h2 {
  margin-block-start: 0em;
}

/*   animation */

#animation {
  background-color: #fff;
  padding-top: 6vw;
  padding-bottom: 10vw;
}

#styletile_container {
  background-image: url("splash-anima-01.svg");
  background-size: 162%;
  background-color: #fff;
  position: absolute;
  background-size: cover;
  border: 2px solid #b9b9b9;
  left: 5%;
  width: 88.5vw;
  height: 18.75vw;
}

.styletile_move {
  animation-name: styletile_move_kf;
  animation-duration: 2s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}

@keyframes styletile_move_kf {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300% 0;
  }
}
@media screen and (min-width: 627px) {
  .fa-navicon {
    padding-right: 20px;
    margin-top: 1vw;
  }
  .navlogo {
    margin-left: 20px;
  }

  .text_container {
    top: 38vw;
  }

  #buy {
    width: 85%;
  }
  .imgknap {
    width: 80%;
    margin: 0 auto;
  }

  #paying_for {
    width: 85%;
  }

  #process > h1 {
    width: 85%;
  }

  #process > p {
    width: 85%;
  }

  #energi_container {
    width: 85%;
  }

  .getvolt {
    width: 85%;
  }

  .getvolt > h1 {
    font-size: 1.8em;
  }

  #connect {
    width: 60%;
    margin-right: 0 auto;
    margin: 0;
    margin-left: 8%;
    grid-template-columns: 30% 1fr;
  }

  #footer {
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  /** SKJUL MOBIL NAVIGATION */
  .navlogo,
  #sideMenu,
  .sideNav,
  .burger,
  .navbar {
    display: none;
  }

  /* VIS TOP NAVIGATION */

  .navlogo1,
  .navbar1,
  .topmenu {
    display: block;
  }

  header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    height: 50px;
  }

  #navbar1 {
    padding: 8px 5px 10px 0px;
  }

  li > a {
    text-decoration: none;
    color: white;
    list-style: none;
  }

  ul {
    margin: 0;

    padding: 0;
  }

  .menupunkter > li {
    float: left;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  }

  .menu > li {
    position: relative;
    display: block;
    z-index: 11;
    padding: 11px;
    margin-top: 2.5px;
  }
  svg {
    margin-top: -8px;
  }

  #sign {
    display: flex;
    position: relative;
    color: white;
    float: right;
  }

  .sprog {
    margin-top: 5px;
    padding: 11px;
  }

  #sign > div {
    padding: 11px;
    font-size: 15px;
    margin-top: 2.5px;
    font-family: "Open Sans", sans-serif;
  }

  .signup {
    margin-top: 5px;
    margin-left: 11px;
    border-radius: 8px;
    width: 80px;
    border: none;
    background-color: #a6cc45;
    color: white;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
  }

  .topmenu {
    width: 90%;
    margin: 0 auto;
  }

  .text_container {
    top: 36vw;
  }

  #buy {
    width: 80%;
  }
  .imgknap {
    width: 85%;
    margin: 0 auto;
  }

  #paying_for {
    width: 80%;
  }

  #process > h1 {
    width: 80%;
  }

  #process > p {
    width: 80%;
  }

  #energi_container {
    width: 80%;
  }

  #map {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .map_img {
    padding-top: 50px;
  }

  .ikoner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;
    grid-gap: 20px;
    margin-top: 4vw;
    margin-bottom: 10vw;
  }

  .delivery {
    display: block;
  }

  .return {
    display: block;
  }

  .svg1,
  .svg7 {
    margin-top: 80px;
  }

  .svg1,
  .ikon2,
  .ikon4,
  .ikon5,
  .ikon6,
  .svg7 {
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
  }

  .ikon3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .getvolt {
    width: 80%;
  }

  #connect {
    width: 45%;

    margin-left: 10%;
    grid-template-columns: 30% 1fr;
  }

  #footer {
    width: 80%;
    display: grid;
    grid-template-columns: 65% 1fr;
  }

  .right_elementer > h2 {
    margin-block-start: 0em;
  }
}

@media screen and (min-width: 1024px) {
  .topmenu {
    width: 80%;
  }

  video {
    margin-top: 50px;
  }

  .text_container {
    top: 31vw;
  }

  .text1,
  .text2,
  .text3 {
    font-size: 7vw;
    -webkit-text-stroke-width: 2px;
  }
  .voltbox1 {
    width: 100%;
  }

  .voltbox2 {
    width: 100%;
  }

  .voltbox3 {
    width: 100%;
  }
  .voltbox4 {
    width: 100%;
  }
  #buy_container {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 30px;
    padding-bottom: 10vw;
  }

  #buy > p {
    width: 40%;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .voltikoner {
    grid-column-start: 1;
  }

  .imgknap {
    width: 100%;
  }

  .ikoner {
    width: 85%;
  }

  #energi_container {
    display: grid;
    grid-template-columns: 50% 1fr;

    grid-gap: 30px;
  }

  .map_img {
    padding-top: 0;
  }

  .getvolt_knap {
    width: 20%;
  }

  .venste_elementer h2 {
    margin-block-start: 0em;
  }

  .venste_elementer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  #connect {
    width: 37%;
  }
  #footer {
    width: 80%;

    grid-template-columns: 75% 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .topmenu {
    width: 75%;
  }

  .energi_ikon {
    transform: scale(1);
  }

  #energi_container {
    grid-gap: 130px;
  }
}

@media screen and (min-width: 1536px) {
  .topmenu {
    width: 70%;
  }

  .text_container {
    top: 20vw;
  }

  #energi_container {
    grid-gap: 170px;
  }

  #connect {
    width: 25%;

    margin-left: 10%;
    grid-template-columns: 30% 1fr;
  }
  #footer {
    grid-template-columns: 83% 1fr;
  }
}
